<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="angApp" ng-controller="myCont">
<form class="form-inline">
<br><br><br><br><br><br>
&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
<button type="submit" class="btn btn-primary mb-2"> <i class='fa fa-home'></i>  Home Page</button>
&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
<button type="submit" class="btn btn-primary mb-2"><i class='fa fa-pen'></i>  Estimate</button>&nbsp; &nbsp;
<button type="submit" class="btn btn-primary mb-2"><i class='fa fa-play-circle'></i>  Start Estimate</button>
<button type="submit" class="btn btn-primary mb-2"><i class='fa fa-stop-circle'></i>  Stop Estimate</button>
<button type="submit" class="btn btn-primary mb-2"><i class='fa fa-handshake'></i>  Finish Estimate <i class='fa fa-glass-cheers'></i></button>&nbsp; &nbsp;
<button type="submit" class="btn btn-primary mb-2"><i class='fa fa-redo'></i>  Re-Estimate</button>
<br><br>
<!-- <h1>Story/PBI: {{storyName}}</h1> -->
<!-- <div>
	<table>
		<thead>
			<th>Username</th>
			<th>Estimated</th>
		</thead>
		<tbody ng-repeat="(key, value) in tableData">
			<td>{{key}}</td>
			<td>{{value}}</td>
			</td>
		</tbody>
	</table>
</div> -->
</form>
</body>
</html>